<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Connection.Properties.Settings.stringConexao" connectionString="Data Source=MAURICIO-PC;Initial Catalog=AcessoMonitorado1;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>